.page-enter-active, .page-leave-active {
    transition: opacity .3s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}
.fade-enter-active, .fade-leave-active {
    height: 100px;
    transition: height .5s;
}
.fade-enter-active, .fade-leave-active {
    height: 0;
}
.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
